{% extends 'base.html' %}
{% block content %}
	<div class="mb-3">
	  <label for="formControlInput1" class="form-label">Name</label>
	  <input class="form-control" type="text" aria-label="default input example">
	</div>
    <div class="mb-3">
	  <label for="formControlInput2" class="form-label">Email address</label>
	  <input type="email" class="form-control" id="formControlInput2" placeholder="name@example.com">
	</div>
	<div class="mb-3">
	  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
	  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
	</div>
	<button type="button" class="btn btn-dark">Send</button>
{% endblock %}
