{% extends 'base.html' %}
{% block content %}
	<form action="/form" method="POST">
	<div class="mb-3 postbox">
	  <label for="formControlInput1" class="form-label">Name</label>
	  <input class="form-control" type="text" aria-label="default input example" name="name">
	</div>
    <div class="mb-3 postbox">
	  <label for="formControlInput2" class="form-label">Email address</label>
	  <input type="email" class="form-control" id="formControlInput2" placeholder="name@example.com" name="email">
	</div>
	<div class="mb-3 postbox">
	  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
	  <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" name="msg"></textarea>
	</div>
	<button type="submit" class="btn btn-dark postbox">Submit</button>
	</form>
{% endblock %}
